<div class="card" style="width: 20rem; margin-top:10px">
<div class="card-header"><h4>Crear nuevo sensor </h4></div>
<%= form_with(model: sensor, local: false) do |form| %>
<ul>
  <li style="list-style: none">
    <% room = Room.all %>
    <%= form.label(:room_id, "Reefer") %>

    <%= form.collection_select :room_id, room.order(:name),:id,:name, include_blank: true %>
  </li>
</ul>
  <% if sensor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sensor.errors.count, "error") %> prohibited this sensor from being saved:</h2>

      <ul>
        <% sensor.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
  </div>
